@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-color-1: #E0E0E0;
    --bg-color-2: #EDEDED;
    --highlight-color-1: #0060FE;
    --highlight-color-2: #FF0000;
}

body,
h1,
h2,
h3,
p {
    margin: 0; /* Remove all margin */
    padding: 0; /* Remove all padding */
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%; /* Ensure all images are full size */
}

/* Navigation */
.nav-bar {
    display: flex; /* Display unordered lists next to another */
    justify-content: space-between; /* Places items as far apart from eachother */
    font-family: 'Raleway', sans-serif; /* Change font to 'Raleway' */
    border-bottom: 4px solid var(--bg-color-2);
    padding: 10px 50px;
}

.nav-bar ul {
    display: flex; /* Have all unordered list items side by side */
    list-style-type: none; /* Remove list styling */
    padding: 0px; /* Add padding */
}

.nav-bar li {
    padding: 10px 0; /* Center the list items */
    padding-left: 100px;
}

.nav-bar li a {
    text-decoration: none; /* Remove underline from links */
    font-size: .9em;
    color: black;
    font-weight: bold;
}

/* Logo */
.logo {
    width: 180px; /* Increase logo size */
    padding: 20px 0; /* Center logo */
}






/* Hero */
.hero {
    width: 100%;
    height: 80vh;
    background-image: url(/employability.tech/IMG/hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-title {
    width: 450px;
    position: relative;
    top: 120px;
    left: 100px;
}

.hero-title h1 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.hero .ulone {
    width: 500px;
    height: 4px;
    background-color: var(--highlight-color-1);
    position: relative;
    top: -65px;
}

.hero .ultwo {
    width: 150px;
    height: 4px;
    background-color: var(--highlight-color-1);
    position: relative;
    top: -12px;
    left: -50px;
}

/* Hero Button */
.hero button {
    padding: 5px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    background-color: var(--highlight-color-2);
    color: #fff;
    border: none;
    position: relative;
    left: 20px;
}










/* Who We Are Section*/
.section-who {
    height: 60vh;
    background-color: var(--bg-color-1);
    padding: 50px 80px;
    font-family: 'Raleway', sans-serif;
}

/* Background Square */
.bg-block-top {
    position: relative;
    top: -220px;
    left: -300px;
    opacity: 50%;
    background: #a5a5a5;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.bg-block-bottom {
    position: relative;
    top: -180px;
    left: -300px;
    opacity: 50%;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.who-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.who-left {
    padding: 130px 50px;
    font-size: 22px;
    text-align: right;
    width: 40%;
}
.who-left h1 {
    border-bottom: 5px solid #fff;
}

.who-right {
    border-left: 5px solid #fff;
    padding: 100px 50px;
    font-size: 18px;
    line-height: 1.5;
}

.who-right span {
    line-height: 5;
}










/* What We Do Section */
.section-what {
    height: 80vh;
    background-color: #EDEDED;
    padding: 70px 80px;
    font-family: 'Raleway', sans-serif;
}

.what-top {
    display: flex;
    width: 100%;
    margin: auto;
}

.what-left {
    border: 1px solid var(--highlight-color-2);
    height: 300px;
    width: 600px;
}

.what-right {
    border: 1px solid var(--highlight-color-2);
    height: 300px;
    width: 600px;
}

.what-bottom {
    border: 1px solid var(--highlight-color-2);
    height: 100px;
    width: 1189px;
    display: flex;
    justify-content: space-evenly;
}

.card-logo {
    border: 1px solid var(--highlight-color-2);
    height: 100px;
    width: 160px;
}










/* Journey Section */
.section-journey {
    width: 100%;
    background-color: var(--bg-color-1);
    padding: 10vh;
}

.section-journey h2 {
    margin: 0 auto;
    position: relative;
    width: fit-content;
    z-index: 1;
}

.section-journey h2:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120%;
    height: 7px;
    background: var(--highlight-color-1);
    z-index: -1;
}

.journey-container {
    max-width: 70vw;
    margin: 0 auto;
    padding: 70px 80px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    position: relative;
}

.journey-container > div {
    flex-basis: 50%;
}

.journey-img-sect {
    padding: 0 5vw;
}

#journey-img {
    border: 10px solid var(--bg-color-2);
}

.journey-line {
    background-color: var(--highlight-color-1);
    width: 5px;
    position: absolute;
}

.journey-line:nth-of-type(1) {
    top: 12vmax;
    transform: translateX(3vmax);
    height: 12vmax;
}

.journey-line:nth-of-type(2) {
    top: -3vmax;
    transform: translateX(6vmax);
    height: 10vmax;
}

.journey-line:nth-of-type(3) {
    top: 16vmax;
    transform: translateX(9vmax);
    height: 6vmax;
}

.journey-info-sect {
    display: flex;
}

.journey-info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5vw;
    width: 100%; /*Ensures div remains same width regardless of content */
}

.journey-info-text-container i {
    font-size: 60px;
}

.journey-info-text-container p {
    text-align: left;
    margin: 2vh 0;
}

#journey-info-text {
    height: 30vh;
}

#journey-info-next, #journey-info-previous {
    color: white;
    font-size: 100px;
}

.journey-timeline-sect {
    position: relative;
}

.journey-timeline-sect .line, .timeline-dots .dot {
    background-color: var(--highlight-color-1);
}

.timeline-dots .active .dot {
    background-color: white;
    border: 2px solid var(--highlight-color-1);
}

.journey-timeline-sect .line {
    width: 5px;
    height: 100%;
    position: absolute; /*allows dots to overlap line*/
    left: 50%;
    transform: translateX(-50%);
}

.timeline-dots {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timeline-dots p {
    position: absolute;
    transform: translateX(-70px);
    white-space: nowrap;
    display: none;
}

.timeline-dots .active p {
    display: block;
}

.journey-timeline-sect .dot {
    position: relative; /*to allow z-index to work as line class has position: absolute set*/
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1;
}