@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-color-1: #E0E0E0;
    --bg-color-2: #F2F2F2;
    --highlight-color-1: #0060FE;
    --highlight-color-2: #FF0000;
}

body,
h1,
h2,
h3,
p {
    margin: 0; /* Remove all margin */
    padding: 0; /* Remove all padding */
}

img {
    width: 100%; /* Ensure all images are full size */
}

/* Navigation */
.nav-bar {
    display: flex; /* Display unordered lists next to another */
    justify-content: space-between; /* Places items as far apart from eachother */
    font-family: 'Raleway', sans-serif; /* Change font to 'Raleway' */
    border-bottom: 4px solid var(--bg-color-2);
    padding: 10px 50px;
}

.nav-bar ul {
    display: flex; /* Have all unordered list items side by side */
    list-style-type: none; /* Remove list styling */
    padding: 0px; /* Add padding */
}

.nav-bar li {
    padding: 10px 0; /* Center the list items */
    padding-left: 100px;
}

.nav-bar li a {
    text-decoration: none; /* Remove underline from links */
    font-size: .9em;
    color: black;
    font-weight: bold;
}

/* Logo */
.logo {
    width: 180px; /* Increase logo size */
    padding: 20px 0; /* Center logo */
}






/* Hero */
.hero {
    width: 100%;
    height: 80vh;
    background-image: url(/employability.tech/IMG/hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-title {
    width: 450px;
    position: relative;
    top: 120px;
    left: 100px;
}

.hero-title h1 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.hero .ulone {
    width: 500px;
    height: 4px;
    background-color: var(--highlight-color-1);
    position: relative;
    top: -65px;
}

.hero .ultwo {
    width: 150px;
    height: 4px;
    background-color: var(--highlight-color-1);
    position: relative;
    top: -12px;
    left: -50px;
}

/* Hero Button */
.hero button {
    padding: 5px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    background-color: var(--highlight-color-2);
    color: #fff;
    border: none;
    position: relative;
    left: 20px;
}










/* Who We Are Section*/
.section-who {
    height: 60vh;
    background-color: var(--bg-color-1);
    padding: 50px 80px;
    font-family: 'Raleway', sans-serif;
}

/* Background Squares */
.bg-block-first {
    position: relative;
    top: -220px;
    left: -300px;
    opacity: 50%;
    background: #a5a5a5;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.bg-block-second {
    position: relative;
    top: -180px;
    left: -300px;
    opacity: 50%;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.who-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.who-left {
    padding: 130px 50px;
    font-size: 22px;
    text-align: right;
    width: 40%;
}
.who-left h1 {
    border-bottom: 5px solid #fff;
}

.who-right {
    border-left: 5px solid #fff;
    padding: 100px 50px;
    font-size: 18px;
    line-height: 1.5;
}

.who-right span {
    line-height: 5;
}










/* What We Do Section */
.section-what {
    height: 80vh;
    background-color: #EDEDED;
    padding: 70px 80px;
    font-family: 'Raleway', sans-serif;
}

.what-top {
    display: flex;
    width: 100%;
    margin: auto;
}

.what-left {
    border: 1px solid #FF0000;
    height: 300px;
    width: 600px;
}

.what-right {
    border: 1px solid #FF0000;
    height: 300px;
    width: 600px;
}

.what-bottom {
    border: 1px solid #FF0000;
    height: 100px;
    width: 1189px;
    display: flex;
    justify-content: space-evenly;
}

.card-logo {
    border: 1px solid #FF0000;
    height: 100px;
    width: 160px;
}










/* Journey Section */
.section-journey {
    height: 130vh; /* Full screen height */
    background-color: var(--bg-color-1);
    padding: 152px 80px;
    font-family: 'Raleway', sans-serif;
    display: flex;
}




.journey-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



/*IMG SECTION*/
.journey-img-sect {
    height: 100%;
    width: 30%;
    padding: 140px 30px;
}

.horizontal-stripe-one {
    height: 200px;
    width: 3px;
    background: yellow;
    position: relative;
    top: -400px;
    left: 80px;
}
.horizontal-stripe-two {
    height: 200px;
    width: 3px;
    background: yellow;
    position: relative;
    top: -360px;
    left: 30px;
}
.horizontal-stripe-three {
    height: 200px;
    width: 3px;
    background: yellow;
    position: relative;
    top: -440px;
    left: 120px;
}


/*INFO SECTION*/
.journey-info-sect {
    height: 100%;
    width: 40%;
}

.info-top h1 {
    border-bottom: 3px solid yellow;
    width:fit-content;
    padding-left: 20px;
    margin: 20px 0;
}

.info-icon {
    width: 30%;
    margin: auto;
    text-align: center;
}

.info-icon i {
    font-size: 40px
}

.info-icon .fa-user-friends {
    padding: 0 5px;
    border-bottom: 3px solid yellow;
}

.info-text {
    padding: 74px 50px;
    font-size: 14px;
}





/*TIMELINE SECTION*/
.journey-timeline-sect {
    height: 100%;
    width: 30%;
}

.timeline {
    height: 100%;
    width: 50%;
    margin: auto;
}

.timeline .proceeding-stripe-right {
    height: 100%;
    width: 3px;
    background: yellow;
    position: relative;
    left: 120px;
}

.timeline .week-one-stripe {
    height: 3px;
    width: 100px;
    background: yellow;
    position: relative;
    top: -565px;
    left: 23px
}

.timeline .week-one-stripe h3 {
    position: relative;
    top: -12px;
    left: -80px;
}

.timeline .week-one-stripe img {
    width: 20px;
    position: relative;
    top: -30px;
}

.timeline .week-two-stripe {
    height: 3px;
    width: 100px;
    background: yellow;
    position: relative;
    top: -490px;
    left: 23px;
}

.timeline .week-two-stripe img {
    width: 20px;
    position: relative;
    top: -8px;
}

.timeline .week-three-stripe {
    height: 3px;
    width: 100px;
    background: yellow;
    position: relative;
    top: -410px;
    left: 23px;
}

.timeline .week-three-stripe img {
    width: 20px;
    position: relative;
    top: -8px;
}

.timeline .week-four-stripe {
    height: 3px;
    width: 100px;
    background: yellow;
    position: relative;
    top: -330px;
    left: 23px;
}

.timeline .week-four-stripe img {
    width: 20px;
    position: relative;
    top: -8px;
}

.timeline .week-five-stripe {
    height: 3px;
    width: 100px;
    background: yellow;
    position: relative;
    top: -250px;
    left: 23px;
}

.timeline .week-five-stripe img {
    width: 20px;
    position: relative;
    top: -8px;
}

.timeline .week-six-stripe {
    height: 3px;
    width: 100px;
    background: yellow;
    position: relative;
    top: -170px;
    left: 23px;
}

.timeline .week-six-stripe img {
    width: 20px;
    position: relative;
    top: -8px;
}

.timeline .week-seven-stripe {
    height: 3px;
    width: 100px;
    background: yellow;
    position: relative;
    top: -90px;
    left: 23px;
}

.timeline .week-seven-stripe img {
    width: 20px;
    position: relative;
    top: -8px;
}

.timeline .week-eight-stripe {
    height: 3px;
    width: 100px;
    background: yellow;
    position: relative;
    top: -25px;
    left: 23px;
}

.timeline .week-eight-stripe img {
    width: 20px;
    position: relative;
    top: -8px;
}

/* Timeline Background Squares */
.bg-block-third {
    position: relative;
    top: -760px;
    left: 260px;
    opacity: 50%;
    background: #a5a5a5;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.bg-block-fourth {
    position: relative;
    top: -720px;
    left: 260px;
    opacity: 50%;
    background: #a5a5a5;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.bg-block-fifth {
    position: relative;
    top: -680px;
    left: 260px;
    opacity: 50%;
    background: #a5a5a5;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}