@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0; /* Remove all margin */
    padding: 0; /* Remove all padding */
}

img {
    width: 100%; /* Ensure all images are full size */
}

/* Navigation */
.nav-bar {
    display: flex; /* Display unordered lists next to another */
    justify-content: space-between; /* Places items as far apart from eachother */
    font-family: 'Raleway', sans-serif; /* Change font to 'Raleway' */
    border-bottom: 4px solid #F2F2F2;
    padding: 10px 50px;
}

.nav-bar ul {
    display: flex; /* Have all unordered list items side by side */
    list-style-type: none; /* Remove list styling */
    padding: 0px; /* Add padding */
}

.nav-bar li {
    padding: 10px 0; /* Center the list items */
    padding-left: 100px;
}

.nav-bar li a {
    text-decoration: none; /* Remove underline from links */
    font-size: .9em;
    color: black;
    font-weight: bold;
}

/* Logo */
.logo {
    width: 180px; /* Increase logo size */
    padding: 20px 0; /* Center logo */
}






/* Hero */
.hero {
    width: 100%;
    height: 80vh;
    background-image: url(/employability.tech/IMG/hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-title {
    width: 450px;
    position: relative;
    top: 120px;
    left: 100px;
}

.hero-title h1 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.hero .ulone {
    width: 500px;
    height: 4px;
    background-color: #0060FE;
    position: relative;
    top: -65px;
}

.hero .ultwo {
    width: 150px;
    height: 4px;
    background-color: #0060FE;
    position: relative;
    top: -12px;
    left: -50px;
}

/* Hero Button */
.hero button {
    padding: 5px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    background-color: red;
    color: #fff;
    border: none;
    position: relative;
    left: 20px;
}










/* Who We Are Section*/
.section-who {
    height: 60vh;
    background-color: #E0E0E0;
    padding: 50px 80px;
    font-family: 'Raleway', sans-serif;
}

/* Background Square */
.bg-block-top {
    position: relative;
    top: -220px;
    left: -300px;
    opacity: 50%;
    background: #a5a5a5;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.bg-block-bottom {
    position: relative;
    top: -180px;
    left: -300px;
    opacity: 50%;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.who-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.who-left {
    padding: 130px 50px;
    font-size: 22px;
    text-align: right;
    width: 40%;
}
.who-left h1 {
    border-bottom: 5px solid #fff;
}

.who-right {
    border-left: 5px solid #fff;
    padding: 100px 50px;
    font-size: 18px;
    line-height: 1.5;
}

.who-right span {
    line-height: 5;
}










/* What We Do Section */
.section-what {
    height: 80vh;
    background-color: #EDEDED;
    padding: 70px 80px;
    font-family: 'Raleway', sans-serif;
}

.what-top {
    display: flex;
    width: 100%;
    margin: auto;
}

.what-left {
    border: 1px solid red;
    height: 300px;
    width: 600px;
}

.what-right {
    border: 1px solid red;
    height: 300px;
    width: 600px;
}

.what-bottom {
    border: 1px solid red;
    height: 100px;
    width: 1189px;
    display: flex;
    justify-content: space-evenly;
}

.card-logo {
    border: 1px solid red;
    height: 100px;
    width: 160px;
}










/* Journey Section */
.section-journey {
    height: 100vh;
    background-color: #E0E0E0;
    padding: 70px 80px;
    font-family: 'Raleway', sans-serif;
    display: flex;
}